<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.axr.stockmanage.mapper.ProductMapper">

    <insert id="addProduct" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_product (name, price)
        VALUES (#{name}, #{price})
    </insert>

    <!-- 根据商品ID查询商品 -->
    <select id="findById" parameterType="long" resultType="com.axr.stockmanage.model.entity.Product">
        SELECT *
        FROM t_product
        WHERE id = #{id}
    </select>

    <select id="findByIdForUpdate" parameterType="long" resultType="com.axr.stockmanage.model.entity.Product">
        SELECT *
        FROM t_product
        WHERE id = #{id}
            FOR UPDATE
    </select>

    <!-- 查询所有商品 -->
    <select id="find" resultType="com.axr.stockmanage.model.vo.ProductVO"
            parameterType="com.axr.stockmanage.model.entity.Product">
        SELECT
        p.id as id,
        p.name as name,
        p.price as price,
        p.status as status,
        s.quantity as quantity
        FROM t_product p JOIN t_stock s on p.id = s.product_id
        <where>
            <if test="name != null and name != ''">
                AND p.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="price != null">
                AND p.price = #{price}
            </if>
            <if test="status != null">
                AND p.status = #{status}
            </if>
        </where>
    </select>
    <select id="findByName" resultType="com.axr.stockmanage.model.entity.Product">
        SELECT *
        FROM t_product
        WHERE name = #{name}
        LIMIT 1
    </select>

    <select id="listAll" resultType="com.axr.stockmanage.model.vo.ProductVO">
        SELECT p.id       as id,
               p.name     as name,
               p.price    as price,
               p.status   as status,
               s.quantity as quantity
        FROM t_product p
                 JOIN t_stock s on p.id = s.product_id
    </select>

    <!-- 删除商品 -->
    <delete id="deleteProduct" parameterType="int">
        DELETE
        FROM t_product
        WHERE id = #{id}
    </delete>

    <!-- 更新商品信息 -->
    <update id="updateProduct" parameterType="com.axr.stockmanage.model.entity.Product">
        UPDATE t_product
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="price != null">
                price = #{price}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 更新商品状态 -->
    <update id="updateStatus" parameterType="map">
        UPDATE t_product
        SET status = #{status}
        WHERE id = #{id}
    </update>
</mapper>