<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.axr.stockmanage.mapper.ProductMapper" >

    <insert id="addProduct" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO product (name, price) VALUES (#{name}, #{price})
    </insert>

    <!-- 根据商品ID查询商品 -->
    <select id="findById" parameterType="int" resultType="com.axr.stockmanage.model.Product">
        SELECT * FROM product WHERE id = #{id}
    </select>

    <!-- 查询所有商品 -->
    <select id="findAll" resultType="com.axr.stockmanage.model.Product">
        SELECT * FROM product
    </select>
    <select id="findByName" resultType="com.axr.stockmanage.model.Product">
        SELECT * FROM product  WHERE name = #{name} LIMIT 1
    </select>

    <!-- 删除商品 -->
    <delete id="deleteProduct" parameterType="int">
        DELETE FROM product WHERE id = #{id}
    </delete>

    <!-- 更新商品信息 -->
    <update id="updateProduct" parameterType="com.axr.stockmanage.model.Product">
        UPDATE product
        SET name = #{name}, price = #{price}, status = #{status}, update_time = CURRENT_TIMESTAMP
        WHERE id = #{id}
    </update>

    <!-- 更新商品状态 -->
    <update id="updateStatus" parameterType="map">
        UPDATE product
        SET status = #{status}
        WHERE id = #{id}
    </update>
</mapper>